<html>
  <head>
    <title>Data</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </head>
  <body>
    <h1>Data!</h1>
    <p id="data_label:">data</p>
    <p id="data">...</p>
    <p id="status_label:">status</p>
    <p id="status">...</p>
    <button id="update">Update</button>
  </body>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>
